<nb-card style="border-radius: 3rem;" [nbSpinner]="loading" nbSpinnerSize="tiny" nbSpinnerStatus="primary">
    <nb-card-header class="text-center" style="font-weight: bold;">
      NUEVA CONTRASEÑA
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="formHeaders">
          <div>
            <label class="label">Nueva contraseña:</label>
            <nb-form-field>
              <input [type]="getInputType()" status="info" nbInput fullWidth shape="semi-round" formControlName="password" autocomplete="new-password">
              <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                  [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
          </div>
          <hr>
          <div>
            <label class="label">Confirmar contraseña:</label>
            <nb-form-field>
              <input [type]="getInputType2()" status="info" nbInput fullWidth shape="semi-round" formControlName="confirm_password" autocomplete="new-password">
              <button nbSuffix nbButton ghost (click)="toggleShowPassword2()">
                <nb-icon [icon]="showPassword2 ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                  [attr.aria-label]="showPassword2 ? 'hide password' : 'show password'">
                </nb-icon>
              </button>
            </nb-form-field>
            <span *ngIf="validPass" style="color: red; font-size: 9px;">{{validPass}}</span>
          </div>
          <hr>
          <div>
            <label class="label">Código de verificación (Revice su correo):</label>
            <input type="text" nbInput fullWidth shape="semi-round" formControlName="codigo" autocomplete="new-username">
          </div>
         
        <div class="text-center" *ngIf="!formHeaders.value.success">
          <br>
          <nb-alert status="danger" style="font-size: 10px;">{{formHeaders.value.messageResponse}}</nb-alert>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer class="text-center">
        <button nbButton size="tiny" status="basic" shape="semi-round" (click)="backRegister()">Cancelar</button>&nbsp;
      <button nbButton size="tiny" status="primary" shape="semi-round" (click)="newPasswordLogin()"
      [disabled]="formHeaders.invalid || validPass !== ''"
      [nbSpinner]="loading">Guardar</button>
  
    </nb-card-footer>
  </nb-card>