<nb-card>
    <nb-card-header>
        <h2>Hola</h2>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-md-9">
                <nb-card>
                    <nb-card-header class="d-flex align-items-center justify-content-between">
                        <strong>345 postres</strong><span>Recomendados</span>
                    </nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <div class="col-md-4">
                                <nb-card status="success">
                                    <nb-card-header class="text-center">4.99 <br>pollito <br>fortaleza <br>
                                        <img src="https://www.pngmart.com/files/2/Cooked-Chicken-Transparent-PNG.png" alt="" height="60">
                                    </nb-card-header>
                                </nb-card>
                            </div>
                            <div class="col-md-4">
                                <nb-card status="success">
                                    <nb-card-header>4.99</nb-card-header>
                                </nb-card>
                            </div>
                            <div class="col-md-4">
                                <nb-card status="success">
                                    <nb-card-header>4.99</nb-card-header>
                                </nb-card>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-3">
                <nb-card>
                    <nb-card-header> Mi Orden</nb-card-header>
                    <nb-card-body>
                        <button nbButton size="small" status="success" outline><nb-icon icon="funnel" status="success"></nb-icon></button>&nbsp;&nbsp;14:30 AM<br><br>
                        <button nbButton size="small" status="success" outline><nb-icon icon="funnel" status="success"></nb-icon></button>&nbsp;&nbsp;14:30 AM<br><br>
                        <button nbButton size="small" status="success" outline><nb-icon icon="funnel" status="success"></nb-icon></button>&nbsp;&nbsp;14:30 AM<br>
                    </nb-card-body>
                </nb-card>
            </div>        
        </div>

    </nb-card-body>
</nb-card>