@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes/dark';
@import '@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
    // add your variables here like:
        header-background-color: color-primary-500,
        header-text-color: color-basic-100,
        header-shadow: none,

        toastr-success-background-color: #2e7d32,
        toastr-success-border-color: #005005,
        toastr-destroyable-success-hover-background-color: #2e7d32,
        toastr-destroyable-success-hover-border-color: #005005,

        layout-padding: 1rem,
        

        // menu-group-text-color: color-basic-100,
        // menu-text-font-weight: 500,
        // menu-item-active-text-color: color-info-500,

      
        menu-text-color: color-basic-100,
        menu-submenu-text-color: color-basic-100,
        menu-group-text-color: color-basic-100,
        menu-item-icon-color: color-basic-100,
        menu-item-divider-color: color-primary-900,
        menu-text-font-weight: 500,
        menu-item-active-text-color: color-warning-500,
          menu-background-color: color-primary-900,
        menu-item-active-background-color: color-primary-900,
        menu-item-hover-text-color: color-warning-400,
      
      
        
        color-primary-100: #8a8ada,
        color-primary-200: #7878c5,	
        color-primary-300: #6a6aad,	
        color-primary-400: #47477c,	
        color-primary-500: #323259,	
        color-primary-600: #262647,	
        color-primary-700: #202047,	
        color-primary-800: #21213d,	
        color-primary-900: #131325,
        color-primary-transparent-100:	rgba(161, 110, 255, 0.08),	
        color-primary-transparent-200:	rgba(161, 110, 255, 0.16),	
        color-primary-transparent-300:	rgba(161, 110, 255, 0.24),	
        color-primary-transparent-400:	rgba(161, 110, 255, 0.32),	
        color-primary-transparent-500:	rgba(161, 110, 255, 0.4),
        color-primary-transparent-600:	rgba(161, 110, 255, 0.48),
        color-success-100:	#f0fff5,
        color-success-200:	#ccfce3,
        color-success-300:	#8cfac7,
        color-success-400:	#2ce69b,
        color-success-500:	#00d68f,
        color-success-600:	#00b887,
        color-success-700:	#00997a,
        color-success-800:	#007d6c,
        color-success-900:	#004a45,
        color-success-transparent-100: rgba(227, 199, 103, 0.08),
        color-success-transparent-200: rgba(227, 199, 103, 0.16),
        color-success-transparent-300: rgba(227, 199, 103, 0.24),
        color-success-transparent-400: rgba(227, 199, 103, 0.32),
        color-success-transparent-500: rgba(227, 199, 103, 0.4),
        color-success-transparent-600: rgba(227, 199, 103, 0.48),
        color-info-100: #C7F9E9,
        color-info-200: #91F3DC,
        color-info-300: #57DBC7,
        color-info-400: #2DB7AE,
        color-info-500: #008487,
        color-info-600: #006774,
        color-info-700: #004E61,
        color-info-800: #00384E,
        color-info-900: #002940,
        color-info-transparent-100: rgba(0, 132, 135, 0.08),
        color-info-transparent-200: rgba(0, 132, 135, 0.16),
        color-info-transparent-300: rgba(0, 132, 135, 0.24),
        color-info-transparent-400: rgba(0, 132, 135, 0.32),
        color-info-transparent-500: rgba(0, 132, 135, 0.4),
        color-info-transparent-600: rgba(0, 132, 135, 0.48),
        color-warning-100: #FDF3CB,
        color-warning-200: #FCE597,
        color-warning-300: #F8D063,
        color-warning-400: #F1BA3C,
        color-warning-500: #E89A00,
        color-warning-600: #C77D00,
        color-warning-700: #A76300,
        color-warning-800: #864B00,
        color-warning-900: #6F3A00,
        color-warning-transparent-100: rgba(232, 154, 0, 0.08),
        color-warning-transparent-200: rgba(232, 154, 0, 0.16),
        color-warning-transparent-300: rgba(232, 154, 0, 0.24),
        color-warning-transparent-400: rgba(232, 154, 0, 0.32),
        color-warning-transparent-500: rgba(232, 154, 0, 0.4),
        color-warning-transparent-600: rgba(232, 154, 0, 0.48),
        color-danger-100: #FCE4D3,
        color-danger-200: #F9C3A9,
        color-danger-300: #ED977B,
        color-danger-400: #DB6D57,
        color-danger-500: #C43427,
        color-danger-600: #A81C1C,
        color-danger-700: #8D131D,
        color-danger-800: #710C1C,
        color-danger-900: #5E071C,
        color-danger-transparent-100: rgba(196, 52, 39, 0.08),
        color-danger-transparent-200: rgba(196, 52, 39, 0.16),
        color-danger-transparent-300: rgba(196, 52, 39, 0.24),
        color-danger-transparent-400: rgba(196, 52, 39, 0.32),
        color-danger-transparent-500: rgba(196, 52, 39, 0.4),
        color-danger-transparent-600: rgba(196, 52, 39, 0.48)
), light, default);

$nb-themes: nb-register-theme((
    // add your variables here like:
        header-shadow: none,

        toastr-success-background-color: #2e7d32,
        toastr-success-border-color: #005005,
        toastr-destroyable-success-hover-background-color: #2e7d32,
        toastr-destroyable-success-hover-border-color: #005005,

        layout-padding: 1rem,

        color-primary-100: #F9DDD9,
        color-primary-200: #F4B6B4,
        color-primary-300: #DF878E,
        color-primary-400: #C06171,
        color-primary-500: #96344E,
        color-primary-600: #812646,
        color-primary-700: #6C1A3F,
        color-primary-800: #571037,
        color-primary-900: #480932,
        color-primary-transparent-100: rgba(150, 52, 78, 0.08),
        color-primary-transparent-200: rgba(150, 52, 78, 0.16),
        color-primary-transparent-300: rgba(150, 52, 78, 0.24),
        color-primary-transparent-400: rgba(150, 52, 78, 0.32),
        color-primary-transparent-500: rgba(150, 52, 78, 0.4),
        color-primary-transparent-600: rgba(150, 52, 78, 0.48),
        color-success-100: #CAFCD8,
        color-success-200: #96FABB,
        color-success-300: #61F2A5,
        color-success-400: #39E69C,
        color-success-500: #00D68F,
        color-success-600: #00B88D,
        color-success-700: #009A85,
        color-success-800: #007C77,
        color-success-900: #006066,
        color-success-transparent-100: rgba(227, 199, 103, 0.08),
        color-success-transparent-200: rgba(227, 199, 103, 0.16),
        color-success-transparent-300: rgba(227, 199, 103, 0.24),
        color-success-transparent-400: rgba(227, 199, 103, 0.32),
        color-success-transparent-500: rgba(227, 199, 103, 0.4),
        color-success-transparent-600: rgba(227, 199, 103, 0.48),
        color-info-100: #C7F9E9,
        color-info-200: #91F3DC,
        color-info-300: #57DBC7,
        color-info-400: #2DB7AE,
        color-info-500: #008487,
        color-info-600: #006774,
        color-info-700: #004E61,
        color-info-800: #00384E,
        color-info-900: #002940,
        color-info-transparent-100: rgba(0, 132, 135, 0.08),
        color-info-transparent-200: rgba(0, 132, 135, 0.16),
        color-info-transparent-300: rgba(0, 132, 135, 0.24),
        color-info-transparent-400: rgba(0, 132, 135, 0.32),
        color-info-transparent-500: rgba(0, 132, 135, 0.4),
        color-info-transparent-600: rgba(0, 132, 135, 0.48),
        color-warning-100: #FDF3CB,
        color-warning-200: #FCE597,
        color-warning-300: #F8D063,
        color-warning-400: #F1BA3C,
        color-warning-500: #E89A00,
        color-warning-600: #C77D00,
        color-warning-700: #A76300,
        color-warning-800: #864B00,
        color-warning-900: #6F3A00,
        color-warning-transparent-100: rgba(232, 154, 0, 0.08),
        color-warning-transparent-200: rgba(232, 154, 0, 0.16),
        color-warning-transparent-300: rgba(232, 154, 0, 0.24),
        color-warning-transparent-400: rgba(232, 154, 0, 0.32),
        color-warning-transparent-500: rgba(232, 154, 0, 0.4),
        color-warning-transparent-600: rgba(232, 154, 0, 0.48),
        color-danger-100: #FCE4D3,
        color-danger-200: #F9C3A9,
        color-danger-300: #ED977B,
        color-danger-400: #DB6D57,
        color-danger-500: #C43427,
        color-danger-600: #A81C1C,
        color-danger-700: #8D131D,
        color-danger-800: #710C1C,
        color-danger-900: #5E071C,
        color-danger-transparent-100: rgba(196, 52, 39, 0.08),
        color-danger-transparent-200: rgba(196, 52, 39, 0.16),
        color-danger-transparent-300: rgba(196, 52, 39, 0.24),
        color-danger-transparent-400: rgba(196, 52, 39, 0.32),
        color-danger-transparent-500: rgba(196, 52, 39, 0.4),
        color-danger-transparent-600: rgba(196, 52, 39, 0.48)
), dark, dark);
